.block-image-trapeze{    
    grid-row: 1;
    &.image-left{
        grid-column: 1;
        padding-right: 50px;
        margin-left: -27px;
    }
    &.image-right{        
        grid-column: 2;
        padding-left: 50px;
        margin-right: -27px;
    }
    .wrapper-image-trapeze{
        overflow: hidden;
        clip-path: polygon(0% 24%, 100% 0%, 100% 73%, -9% 100%);
        img{
           width: 100%;
        }
    }
}

@media (max-width: map-get($map: $grid-breakpoints, $key:'md' )){
    .block-image-trapeze{
        &.image-left{
            grid-row: 1;
            grid-column: 1;
            padding-right: 0;
            margin-left: 0;
        }
        &.image-right{
            grid-row: 1;
            grid-column: 1;
            padding-left: 0;
            margin-right: 0;
        }
    }
}