.block-popup{
    background-color: $color_5;
    border: 1px solid rgba($color: $color_2, $alpha: 0.2);;
    position: absolute;
    top: 130%;
    left: 50%;   
    transform: translateX(-50%);    
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden;
    opacity: 0;   
    transition: ease-in-out $default_transition_time;
    z-index: $index_highest_priority;
    .wrapper-popup{
        nav{
            display: flex;
            flex-flow: column;
            text-align: center;
            a{
                display: inline-block;
                margin-top: 10px;
                margin-bottom: 10px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


//Max-width: 768px
@media (max-width: map-get($map: $grid-breakpoints, $key:'md' )){
    .block-popup{
        position: absolute;
        top: unset;
        bottom: 110%;    
    }
} 