.button-cookies{
    background-color: $color_1;
    color: $color_7;
    border: 1px solid $color_1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 17px;
    margin-bottom: 17px;
}