.button-goto{    
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 21px;
    padding-right: 21px;
    min-width: 50px;
    border: 1px solid $color_1;
    img{
        width: 6px;
    }
}